.nav {
	padding: 10px;

	align-items: center;
	justify-content: space-between;
}

.navList {
	justify-content: space-around;
	width: 30%;
	list-style: none;
}

.nav,
.navList {
	display: flex;
}

.navItem {
	color: var(--gray);
}
